.error{
    color: red;
    font-size: 0.8em;
}

.eventful-div{
    margin: 10px auto  10px auto;
    max-width: 800px;
}

.myTab, th, td {
    border: 1px solid black;
 }

 #searchResult{
     margin: 20px;
 }