
.error{
    color: red;
    font-size: 0.8em;
}

.eventful-div{
    margin: 10px auto  5px auto;
    box-shadow: 7px 7px 10px #888888;
    max-width: 1000px;
    border: none;
    padding: 5px;
}

#searchResult{
    margin: 5px;
}

.edate {
    position: relative;
    width: 70px;
    font-family: Georgia, serif;
    color: #337ab7;
    margin: 0 auto;
}

.eday,
.emonth,
.eyear {
    position: absolute;
}

.eday {
    font-size: 30px;
    top: 15px;
}

.emonth {
    top: 0;
    left: 0;
    font-size: 18px;
}

.eyear {
    top: 19px;
    right: 0;
    font-size: 20px;
    rotation: -90deg !important;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

.event-title {        
    font-size: 1.25em; 
    /* color: #337ab7; */   
    /* color: #337ab7; */
}


.event-address{
    margin-top: 10px;
    font-size: 1.0em;
    font-weight: bold;
    color: navy;    
}

.event-desc{
    margin-top: 5px;
    font-size: 1.0em;
}

.event-date{
    padding: 20px;
}


.event{
    /* padding: 10px; */
    margin: 10px;
    padding:0px;
    
    /* border-bottom: 2px solid red; */
}

.event-devider{
    border-bottom: 1px solid skyblue;
    margin-left: 20px;
    margin-right: 20px;
}

.eventful-image{
    /*margin-top:5px; */
    /* position: relative; */
}

#searchResult{
    max-height: 550px;
    overflow-y: scroll;
}

.eventful-form-content{
    border-bottom: 2px solid green;
}


/* Over ride Bootstrao */

label{
    font-weight: normal;
}

body  {
    background: skyblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #B9F3ED , #928DCB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #B9F3ED, #928DCB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #B9F3ED, #928DCB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #B9F3ED , #928DCB); /* Standard syntax */
}

